<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>PirateRobotics</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>
		<!--Navigation Bar-->
		<nav>
			<div class="logo">
				<h4>PirateRobotics</h4>
			</div>
			<ul class="nav-links">
				<li><a href="team.html">Meet The Team</a></li>
			</ul>
		</nav>

		<div class="square">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>


		<!--Web Title-->
		<div class="center-title">
		
			<div class="title-txt">
				<img src="/static/images/PirateRoboticsLogo.png" class="tree-img" alt="Hierarchy Tree" style="width:420px;height:420px;margin-top: 80px; position:relative;left: -400px">
			</div>
			<br>
			<div class="title-txt">
				<img src="/static/images/PirateRoboticsTitle1.png" class="tree-img" alt="Hierarchy Tree" style="position:relative;left: -400px">
			</div>
			<div class="center-title">
				<p><a href="test.html" style="position:relative;bottom: 30px;"><button type="button" 
							style="font-size: 25px;color: white;width: 20%;border-color:white;border-width: 2px;padding: 12px 28px; background-color:transparent; margin-top: -200px;">START</button></a></p>
				<h1 style="font-size:60px; margin-top: -650px; position:relative;right: -230px">Welcome to PirateRobotics!</h1>
				<p style="font-size: 30px; position: relative; left: 240px; text-align: center;">We are PirateRobotics, a team built with you in mind. We work <br> diligently to create a space for you, 
					the user to make<br>use of our product! Using this website you will be able to maneuver <br> the robotic arm using
					camera vision to move objects. Following the <br>instructions and descriptions provided you will get moving in no time!</p>
			</div>
		</div>
	</body>
</html>