<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>PirateRobotics</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>

		<div class="square">
			<div></div> 
			<div></div> 
			<div></div>
			<div></div>
			<div></div> 
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>


		<!--Web Title-->
		<div class="center-title">
            <p><a href="/" style="position:relative;left:-580px"><button type="button"
                style="font-size: 25px;color: white;width: 15%;border-color:white;border-width: 2px;padding: 12px 28px; background-color:transparent;">BACK</button></a></p>
			<h1 style="font-size:60px;">Robotic Arm Controller Instructions</h1>
		</div>

		<!--Tool Cards-->
		<div class="container">
			<div class="box">
				<div class="box-row">
                        <img src="/static/images/exampleImage.png" class="tree-img" alt="Hierarchy Tree" style="width:850px;height:850px;margin-top:-100px;">
						<div 
							class="viewButton" style="border-left: 1.5px solid rgb(12, 11, 11);height: 300px;margin-top:-460px;margin-left:347px;position:relative;transform:rotate(10deg);">
						</div>
						<div 
						class="menuButton" style="border-left: 1.5px solid rgb(12, 11, 11);height: 300px;margin-top:-375px;margin-left:495px;position:relative;transform:rotate(-10deg);">
						</div>
						<div 
						class="rightStick" style="border-left: 1.5px solid rgb(12, 11, 11);height: 300px;margin-top:-300px;margin-left:630px;position:relative;transform:rotate(-50deg);">
						</div>
						<div 
						class="dPad" style="border-left: 1.5px solid rgb(12, 11, 11);height: 300px;margin-top:110px;margin-left:30px;position:relative;transform:rotate(50deg);">
						</div>
						<div 
						class="leftStick" style="border-left: 1.5px solid rgb(12, 11, 11);height: 190px;margin-top:-300px;margin-left:-150px;position:relative;transform:rotate(65deg);">
						</div>
						<div 
						class="yButton" style="border-left: 1.5px solid rgb(12, 11, 11);height: 190px;margin-top:-590px;margin-left:550px;position:relative;transform:rotate(90deg);">
						</div>
						<div 
						class="bButton" style="border-left: 1.5px solid rgb(12, 11, 11);height: 190px;margin-top:-170px;margin-left:620px;position:relative;transform:rotate(90deg);">
						</div>
						<div 
						class="aButton" style="border-left: 1.5px solid rgb(12, 11, 11);height: 200px;margin-top:-110px;margin-left:555px;position:relative;transform:rotate(90deg);">
						</div>
						<div 
						class="xButton" style="border-left: 1.5px solid rgb(12, 11, 11);height:200px;margin-top:0px;margin-left:60px;position:relative;transform:rotate(120deg);">
						</div>
						<div 
						class="homeButton" style="border-left: 1.5px solid rgb(12, 11, 11);height: 90px;margin-top:-670px;margin-left:425px;position:relative;">
						</div>
						<div 
						class="leftBumper" style="border-left: 1.5px solid rgb(12, 11, 11);height: 100px;margin-top:-400px;margin-left:100px;position:relative;transform:rotate(-50deg);">
						</div>
						<div 
						class="rightBumper" style="border-left: 1.5px solid rgb(12, 11, 11);height: 100px;margin-top:320px;margin-left:570px;position:relative;transform:rotate(50deg);">
						</div>
						<div style="color:white;padding:20px; margin-left: -170px; margin-top: -30px; font-size: 20px;">
							<h1>Left Stick</h1><p>Click left/right to move<br>gripper to left/right, or up/down <br>to go backward/forward </p>
						</div>
						<div style="color:white;padding:20px; margin-left: -160px; margin-top: 110px; font-size: 20px;">
							<h1>D-Pad</h1><p>Click left/right to open/close<br>gripper fingers, or up/down <br>to increase/decrease gripper spped</p>
						</div>
						<div style="color:white;padding:20px; margin-left: 155px; margin-top: -260px; font-size: 20px;">
							<h1>View Button</h1>
						</div>
						<div style="color:white;padding:20px; margin-left: 470px; margin-top: -140px; font-size: 20px;">
							<h1>Menu Button</h1>
						</div>
						<div style="color:white;padding:20px; margin-left: -100px; margin-top: -750px; font-size: 20px;">
							<h1>Left Bumper</h1><p>Click to rotate/roll<br>gripper to the left</p>
						</div>
						<div style="color:white;padding:20px; margin-left: 300px; margin-top: -250px; font-size: 20px;">
							<h1>Home Button</h1><p>Click for the arm to<br>go back to its home position</p>
						</div>
						<div style="color:white;padding:20px; margin-top: -220px; font-size: 20px;position: relative; right: -680px;">
							<h1>Right Bumper</h1><p>Click to rotate/roll<br>gripper to the right</p>
						</div>
						<div style="color:white;padding:20px;margin-top:-40px; font-size: 20px;position: relative; right: -790px;">
							<h1>Y Button</h1><p>A light turns on</p>
						</div>
						<div style="color:white;padding:20px;margin-top:-80px; font-size: 20px;position: relative; right: -850px;">
							<h1>B Button</h1><p>Click to move gripper up/down</p>
						</div>
						<div style="color:white;padding:20px;margin-top:-80px; font-size: 20px;position: relative; right: -800px;">
							<h1>A Button</h1><p>Click to move gripper left/right</p>
						</div>
						<div style="color:white;padding:20px;margin-top:-80px; font-size: 20px;position: relative; right: -740px;">
							<h1>X Button</h1><p>A light turns on</p>
						</div>
						<div style="color:white;padding:20px; margin-top: 0px; font-size: 20px;position: relative; right: -800px;">
							<h1>Right Stick</h1><p>Click left/right to rotate<br>gripper to left/right, or up/down <br>to go up/down </p>
						</div>
				</div>
			</div>
		</div>

		<div>
			<h1 style="font-size:60px;text-align: center; line-height: 5;">Try Out the Buttons Below!</h1>
		</div>

		<div class="container">
			<div class="box">
				<div class="box-row">
                    <img src="/static/images/exampleImage.png" class="tree-img" alt="Hierarchy Tree" style="width:1000px;height:1000px;margin-top:-350px;">
				</div>
			</div>
		</div>
                <!--Fake Butttons-->
		<div class="center-title">
            <!-- Left Bumper Button -->
            <p><a href="/test.html" style="position:relative;left:-160px; bottom: 825px;"><button onclick="window.location.href='button_action'" type="button"
                    style="border-color:red;border-width: 3px;padding: 23px; 
                        background-color:transparent;border-radius: 50%; width: 10%"></button></a></p>
            <!-- Right Bumper Button -->
            <p><a href="/" style="position:relative;left:180px; bottom: 900px;"><button type="button"
                    style="border-color:red;border-width: 3px;padding: 23px; 
                        background-color:transparent;border-radius: 50%; width: 10%"></button></a></p>
            <!-- A Button -->
            <p><a href="/" style="position:relative;left:180px; bottom: 805px;"><button type="button"
                style="border-color:red;border-width: 3px;padding: 23px; 
                        background-color:transparent;border-radius: 50%; height: 20px;"></button></a></p>
            <!--Home Button-->
            <p><a href="/" style="position:relative;left:1px; bottom: 990px;"><button type="button"
                style="border-color:red;border-width: 3px;padding: 23px; 
                        background-color:transparent;border-radius: 50%; height: 20px;"></button></a></p>
            <!-- B Button -->
            <p><a href="/" style="position:relative;left:228px; bottom: 985px;"><button type="button"
                style="border-color:red;border-width: 3px;padding: 23px; 
                        background-color:transparent;border-radius: 50%; height: 20px;"></button></a></p>
            <!-- Right Stick Button UP-->
            <p><a href="/" style="position:relative;left:93px; bottom: 978px;"><button type="button"
                style="border-color:red;border-width: 3px;padding: 23px; 
                        background-color:transparent;border-radius: 50%; height: 20px;"></button></a></p>
            <!-- D PAD Button LEFT/OPEN -->
            <p><a href="/" style="position:relative;left:-130px; bottom: 1010px;"><button type="button"
                style="border-color:red;border-width: 3px;padding: 23px; 
                        background-color:transparent;border-radius: 50%; height: 20px;"></button></a></p>
            <!-- D PAD Button RIGHT/CLOSE -->
            <p><a href="/" style="position:relative;left:-53px; bottom: 1080px;"><button type="button"
                style="border-color:red;border-width: 3px;padding: 23px; 
                        background-color:transparent;border-radius: 50%; height: 20px;"></button></a></p>
		</div>
	</body>
</html>